<div class="page-header">
  <h3><%= @mountain.mountain_name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Location</dt>
      <dd><%= @mountain.location %></dd>

      <dt>Vertical feet</dt>
      <dd><%= @mountain.vertical_feet %></dd>

      <dt>Skiable acres</dt>
      <dd><%= @mountain.skiable_acres %></dd>

      <dt>Number of trails</dt>
      <dd><%= @mountain.trails.count %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <% if current_user.admin == false %>
      <a href="javascript:history.back()" class="btn btn-primary">
        Back
      </a>
      <% else %>
      <a href="javascript:history.back()" class="btn btn-primary">
        Back
      </a>
      <a href="/mountains/<%= @mountain.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_mountain/<%= @mountain.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Mountain has many trails -->

<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Trails
      </li>
      <li class="list-group-item">
          <%= search_form_for @q, :url => "/mountains/#{@mountain.id}", :id => "trails_filters" do |f| %>
              <div class="form-group">
          <%= f.label :trail_name_cont, "Trail name contains" %>
          <%= f.text_field :trail_name_cont, :class => "form-control", :placeholder => "Trail name contains" %>
            <%= f.submit :class => "btn btn-primary btn-block mb-1" %>
            <a href="/mountains/<%= @mountain.id %>" class="btn btn-default btn-block mb-1">Clear filters</a>
          <% end %>
        </div>
      </li>
      <li class="list-group-item">
        <% if current_user.admin == true %>
        <form action="/create_trail" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for trail_name -->
      <div class="form-group">
        <label for="trail_name" class="control-label">
          Trail name
        </label>

        <input type="text" id="trail_name" name="trail_name" placeholder="Trail name" class="form-control" value="">
      </div>

      <!-- Label and input for mountain_id -->
      <input type="hidden" name="mountain_id" value="<%= @mountain.id %>">

      <button class="btn btn-block btn-success">
        Create Trail
      </button>
      <% else %>
      <% end %>
    </form>

      <% @trails.each do |trail| %>
        <li class="list-group-item">
          <a href="/trails/<%= trail.id %>">
            <%= trail.trail_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <% if current_user.admin == false %>
            <a href="/trails/<%= trail.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <% else %>
            <a href="/trails/<%= trail.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/trails/<%= trail.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_trail/<%= trail.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
            <% end %>
          </div>
        </li>
        <% end %>
      </li>
    </ul>
  </div>


<!-- A Mountain has many photos -->


  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Photos
      </li>

      <li class="list-group-item">
        <form enctype="multipart/form-data" action="/create_photo" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input id="image" type="file" name="image" class="form-control">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for mountain_id -->
      <input type="hidden" name="mountain_id" value="<%= @mountain.id %>">

      <button class="btn btn-block btn-success">
        Create Photo
      </button>
    </form>
  </li>

      <% @mountain.photos.each do |photo| %>
        <li class="list-group-item"><div class="row">
          <div class="col-sm-10"><a href="/photos/<%= photo.id %>">
            <img class="img-responsive" src="<%= photo.image %>">
          </a>
              </div>
          <div class="col-sm-2"><div class="btn-group btn-group-xs photo-buttons">
            <a href="/photos/<%= photo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <% if current_user.id == photo.user.id %>
            <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
            <% else %>
            <% end %>
          </div>

        </div>
        </li>
      <% end %>

    </ul>
  </div>
</div>
