<div class="page-header">
  <h3>Mountain #<%= @mountain.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Mountain name</dt>
      <dd><%= @mountain.mountain_name %></dd>

      <dt>Location</dt>
      <dd><%= @mountain.location %></dd>

      <dt>Vertical feet</dt>
      <dd><%= @mountain.vertical_feet %></dd>

      <dt>Skiable acres</dt>
      <dd><%= @mountain.skiable_acres %></dd>

      <dt>Number of trails</dt>
      <dd><%= @mountain.number_of_trails %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/mountains" class="btn btn-primary">
        Back
      </a>
      <a href="/mountains/<%= @mountain.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_mountain/<%= @mountain.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
