<div class="page-header">
  <h3>Mountain #<%= @mountain.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Mountain name</dt>
      <dd><%= @mountain.mountain_name %></dd>

      <dt>Location</dt>
      <dd><%= @mountain.location %></dd>

      <dt>Vertical feet</dt>
      <dd><%= @mountain.vertical_feet %></dd>

      <dt>Skiable acres</dt>
      <dd><%= @mountain.skiable_acres %></dd>

      <dt>Number of trails</dt>
      <dd><%= @mountain.number_of_trails %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/mountains" class="btn btn-primary">
        Back
      </a>
      <a href="/mountains/<%= @mountain.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_mountain/<%= @mountain.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Mountain has many trails -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Trails
      </li>

      <% @mountain.trails.each do |trail| %>
        <li class="list-group-item">
          <a href="/trails/<%= trail.id %>">
            <%= trail.trail_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/trails/<%= trail.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/trails/<%= trail.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_trail/<%= trail.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Mountain has many photos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Photos
      </li>

      <% @mountain.photos.each do |photo| %>
        <li class="list-group-item">
          <a href="/photos/<%= photo.id %>">
            <%= photo.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/photos/<%= photo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
