<div class="page-header">
  <h3><%= @trail.trail_name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Mountain</dt>
      <dd>
        <% if @trail.mountain.present? %>
          <a href="/mountains/<%= @trail.mountain_id %>">
            <%= @trail.mountain.mountain_name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <% if current_user.admin == false %>
      <a href="javascript:history.back()" class="btn btn-primary">
        Back
      </a>
      <% else %>
      <a href="javascript:history.back()" class="btn btn-primary">
        Back
      </a>
      <a href="/trails/<%= @trail.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_trail/<%= @trail.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Trail has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @trail.comments.order(:created_at => :desc).each do |comment| %>
        <li class="list-group-item">
          <a href="/users/<%= comment.user.id %>">
            <%= comment.user.email %>
          </a>
            : <%= comment.comment %>
          <div class="btn-group btn-group-xs pull-right">
            <% if current_user.id == comment.user.id %>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
            <% end %>
            <% if current_user.admin == true %>
            <a href="/delete_comment/<%= @comment.id %>" class="btn btn-danger" rel="nofollow">
              Delete
            </a>
            <% end %>
          </div>
          <div class = "push-right">Posted <%= time_ago_in_words(comment.created_at) %></div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for comment -->
      <div class="form-group">
        <label for="comment" class="control-label">
          Comment
        </label>

        <input type="text" id="comment" name="comment" placeholder="Comment" class="form-control" value="">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for trail_id -->
      <input type="hidden" name="trail_id" value="<%= @trail.id %>">

      <button class="btn btn-block btn-success">
        Create Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
